#name {
    color: #333;
}

#seenewest,
#darkToggle {
    color: #444;
}

#darkToggle {
  position: relative;
  top: .5em;
}

.prism-show-language-label {
  margin-top: .6em;
}

#pastelist {
    list-style: none;
}

.footer {
    color: gray;
    text-align: center;
}